*{
    margin: 0;
    padding: 5px;
}

aside{
    background-color: #b26241;
    float: left;
    height: 96vmin;
    width: 20vmax;
    display: flex;
    flex-direction: row;
    align-items: center;

}

main{
  height: 96vmin ;
  font-family: 'Courier New', Courier, monospace; 
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  
}

h1{
    font-size: 50px;
}

ul{
    font-size: 40px;
    margin-left: 2vmax;
}



strong{
    color: #35393b;
}

.linkMenu{
    text-decoration: none;
    color: white;
    margin: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.frase{
    margin-top: 30px;
    margin-bottom: 30px;
    color: grey;
}

.linkNetwork{
    font-size: xx-large;
    text-decoration: none;
    color:grey;
    margin: 8px; 
}

.sectionCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
    
}

.sectionMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vmax;
}

.nome{
    text-transform: uppercase;
    color: #b26241;
}

.email{
    text-transform: lowercase;
}

#foto{
    border: 8px solid;
    border-color: #d37f5b;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0;
}




